<div class="main-container-2" id="services">

    <h1 class="main2">Our Services</h1>
    <h4 class="main2">grow your business with us</h4>


    <div class="sub-container-2">
        <div class="cont1 " data-aos="fade-up">
            <div class="icon1">
              <img src="images/settings.png" alt="icon1">
            </div>
            <h3>Settings</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quod!</p>
        </div>
        <div class="cont2" data-aos="fade-up">
            <div class="icon2">
                <img src="images/optimization.png" alt="icon2">
            </div>
            <h3>Speedup</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quod!</p>
        </div>
        <div class="cont3" data-aos="fade-up">
                        <div class="icon3">
                <img src="images/privacy.png" alt="icon3">
            </div>
            <h3>Privacy</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quod!</p>
        </div>
        <div class="cont4" data-aos="fade-up">
            <div class="icon4">
                {{!-- <img src="https://i.imgur.com/vdH9LKi.png" alt="icon4"> --}}
                <img src="images/transfer.png" alt="icon4">
            </div>
            <h3>Backups</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quod!</p>
        </div>
        <div class="cont5" data-aos="fade-up">
              <div class="icon5">
                <img src="images/security.png" alt="icon5">
            </div>
            <h3>SSL secured</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quod!</p>
        </div>
        <div class="cont6" data-aos="fade-up">
            <div class="icon6">
                <img src="images/database.png" alt="icon6">
            </div>
            <h3>Database</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quod!</p>
        </div>
    </div>
</div>